body {
    background-color: #105f23;
}

.tittle {
    text-align: center;
    color: white;
}

.card {
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 14px;
    border: 1px solid black;
    background-color: white;
    position: relative;
}

#icon {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 70px;
    height: 70px;
    /* background-color: red; */
    font-size: 100px;
    text-align: center;
}

.number {
    position: absolute;
    width: 140px;
    height: 140px;
    margin: 170px 70px;
    padding: 10px;
    /* background-color: black; */
    font-size: 140px;
    text-align: center;
}

#iconFlip {
    position: absolute;
    transform: rotate(180deg);
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 70px;
    /* background-color: red; */
    font-size: 100px;
    text-align: center;
}